<%- include('partials/header.ejs') %>

    <div class="flex-grow flex justify-center items-center bg-white dark:bg-gray-900 mb-[64px]">
        <section class="bg-white dark:bg-gray-900">
            <div class="max-w-sm mx-auto justify-start rounded-xl shadow-xl bg-gray-100 dark:bg-gray-800 p-5">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">
                    Contact Us</h2>
                <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Any
                    questions or concerns? Let us know.</p>
                <form method="post" class="space-y-8" action="/contact">
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your
                            email</label>
                        <input type="email" id="email" name="email"
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                            placeholder="name@flowbite.com" required>
                    </div>
                    <div>
                        <label for="subject"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Subject</label>
                        <input type="text" id="subject" name="subject"
                            class="block p-3 w-full text-xs text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                            placeholder="Let us know how we can help you" required>
                    </div>
                    <div class="sm:col-span-2">
                        <label for="message"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your message</label>
                        <textarea id="message" rows="6" name="message"
                            class="block p-2.5 w-full text-xs text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Leave a comment..." required></textarea>
                    </div>
                    <div class="flex justify-center">
                        <button type="submit"
                            class="text-white bg-blue-700 opacity-75 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center"
                            disabled>Send message</button>
                    </div>
                </form>
            </div>
        </section>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const emailInput = document.getElementById('email');
            const subjectInput = document.getElementById('subject');
            const messageInput = document.getElementById('message');
            const submitButton = document.querySelector('button[type="submit"]');

            // Function to check if the email is valid
            const checkEmailValidity = () => {
                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return emailRegex.test(emailInput.value);
            };

            // Function to check if the subject is valid
            const checkSubjectValidity = () => {
                return subjectInput.value.trim().length > 0;
            };

            // Function to check if the message is valid
            const checkMessageValidity = () => {
                return messageInput.value.trim().length > 0;
            };

            // Function to validate all fields
            const validateFields = () => {
                if (checkEmailValidity() && checkSubjectValidity() && checkMessageValidity()) {
                    submitButton.classList.remove('opacity-75');
                    submitButton.disabled = false;
                } else {
                    submitButton.classList.add('opacity-75');
                    submitButton.disabled = true;
                }
            };

            // Add event listeners to inputs
            emailInput.addEventListener('input', validateFields);
            subjectInput.addEventListener('input', validateFields);
            messageInput.addEventListener('input', validateFields);

            // Initial validation check
            validateFields();
        });
    </script>


    <% if (authenticated) { %>
        <%- include('partials/bottomNav.ejs') %>
            <% } else { %>
                <%- include('partials/footer.ejs') %>
                    <% } %>