<%- include('partials/header.ejs') %>

<div class="p-4 font-[Orbitron] text-[#455780] font-bold bg-gradient-to-b from-[#D1D9E9] to-[#FCFEFE]">
  

  <h1 class="text-center py-4 text-4xl font-[Orbitron] font-extrabold">Hello, <span id="usersName">Lorem.</span></h1>

  <!-- Overview/Vitals card -->
  <a href="/vitals">
    <div class="border-2 rounded-3xl drop-shadow-lg p-2 m-4 bg-[#FCFEFE]">
      <!-- Top (overview) section -->
      <div class="flex flex-row justify-around py-1 font-[Orbitron]">
        <!-- Person figure -->
        <span class="material-symbols-outlined w-1/2 text-9xl text-center">
          accessibility_new
        </span>
  
        <!-- Stats status -->
        <div class="w-1/2 flex flex-col justify-around">
          <!-- Vitals status -->
          <div class="w-1/3 flex flex-row">
            <span id="vitalsStatus" class="material-symbols-outlined text-[#289322] text-4xl pr-1">
              check_circle
            </span>
            <p class="text-2xl">Vitals</p>
          </div>
  
          <!-- Blood status -->
          <div class="w-1/3 flex flex-row">
            <span id="bloodStatus" class="material-symbols-outlined text-[#B22F2F] text-4xl pr-1">
              cancel
            </span>
            <p class="text-2xl">Blood</p>
          </div>
  
          <!-- Body status -->
          <div class="w-1/3 flex flex-row">
            <span id="bodyStatus" class="material-symbols-outlined text-[#289322] text-4xl pr-1">
              check_circle
            </span>
            <p class="text-2xl">Body</p>
          </div>
        </div>
      </div>
  
      <!-- Bottom (vitals) section -->
      <div class="py-1 font-[Orbitron]">
        <!-- Pulse -->
        <div class="flex flex-row justify-center">
          <span class="material-symbols-outlined text-3xl pl-2 w-1/6">
            ecg_heart
          </span>
  
          <p id="pulseRate" class="text-3xl px-2 w-2/5">75<span class="text-sm">BPM</span></p>
  
          <div class="px-16 border-2 rounded-3xl mx-2">
            <span class="material-symbols-outlined text-[#455780]text-3xl">
              vital_signs
            </span>
          </div>
        </div>
  
        <!-- Body temperature -->
        <div class="py-1">
          <div class="flex flex-row justify-center">
            <span class="material-symbols-outlined text-3xl pl-2 w-1/6">
              device_thermostat
            </span>
  
            <p id="tempRate" class="text-3xl px-2 w-2/5">30<span>°</span></p>
  
            <div class="px-16 border-2 rounded-3xl mx-2">
              <span class="material-symbols-outlined text-[#455780]text-3xl">
                ssid_chart
              </span>
            </div>
          </div>
        </div>
  
        <!-- Respiratory rate -->
        <div class="py-1">
          <div class="flex flex-row justify-center">
            <span class="material-symbols-outlined text-3xl pl-2 w-1/6">
              pulmonology
            </span>
  
            <p id="respiratoryRate" class="text-3xl px-2 w-2/5">30<span class="text-sm">RRP</span></p>
  
            <div class="px-16 border-2 rounded-3xl mx-2">
              <span class="material-symbols-outlined text-[#455780]text-3xl">
                ssid_chart
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>


  <!-- Body Composition card -->
  <a href="/body_comp">
    <div class="border-2 rounded-3xl drop-shadow-lg px-2 py-4 m-4 mt-6 bg-[#FCFEFE]">
      <div class="flex flex-row">
        <!-- BMI -->
        <div class="w-1/3 text-center">
          <p id="bmiValue" class="text-3xl">21</p>
          <p class="text-sm pt-2">BMI</p>
        </div>
  
        <!-- Body fat -->
        <div class="w-1/3 text-center">
          <p id="bfValue" class="text-3xl">25<span class="text-sm">%</span></p>
          <p class="text-sm pt-2">BF</p>
        </div>
  
        <!-- Weight -->
        <div class="w-1/3 text-center">
          <p id="weightValue" class="text-3xl">160<span class="text-sm">LBS</span></p>
          <p class="text-sm pt-2">Weight</p>
        </div>
      </div>
    </div>
  </a>


  <!-- Blood card -->
  <a href="blood">
    <div class="border-2 rounded-3xl drop-shadow-lg px-2 py-4 m-4 mt-6 bg-[#FCFEFE]">
      <div class="flex flex-row">
        <!-- Body fat -->
        <div class="w-1/2 text-center">
          <p id="wbcValue" class="text-3xl">9,000<span class="text-sm">/mm3</span></p>
          <p class="text-sm pt-2">WBC</p>
        </div>
  
        <!-- Weight -->
        <div class="w-1/2 text-center">
          <p id="rbcValue" class="text-3xl">5.1MIL<span class="text-sm">/mm3</span></p>
          <p class="text-sm pt-2">RBC</p>
        </div>
      </div>
    </div>
  </a>

</div>
<%- include('partials/bottomNav.ejs') %>
