<%- include('partials/header.ejs') %>

<section class="flex-grow flex justify-center items-center bg-white dark:bg-gray-900 px-4 gradient">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 id="mainHeading" class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Monitoring your <span id="healthWord" class="cursor-pointer">health</span> made simple</h1>
        <p id="subHeading" class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Leverage your medical implant to see your current vitals and body composition</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
        </div>
        <a href="/signup" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
            Register Now
        </a>
    </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>

<script>
    let clickCount = 0;
    let lastClickTime = 0;
    const mainHeading = document.getElementById('mainHeading');
    const subHeading = document.getElementById('subHeading');
    const quotes = [
        "The first wealth is health.",
        "To keep the body in good health is a duty... otherwise, we shall not be able to keep our mind strong and clear.",
        "Strength and health are the keys to a happy life."
    ];

    const healthWord = document.getElementById('healthWord');
    healthWord.addEventListener('click', () => {
        const now = new Date().getTime();
        if (now - lastClickTime < 1000) {
            clickCount++;
            if (clickCount === 3) {
                const randomIndex = Math.floor(Math.random() * quotes.length);
                const selectedQuote = quotes[randomIndex];
                showQuote(selectedQuote);
                clickCount = 0;
            }
        } else {
            clickCount = 1;
        }
        lastClickTime = now;
    });

    function showQuote(quote) {
        let index = 0;
        const interval = setInterval(() => {
            if (index < quote.length) {
                mainHeading.innerHTML = quote.substr(0, index + 1).replace('health', '<span id="healthWord" class="cursor-pointer">health</span>');
                index++;
            } else {
                clearInterval(interval);
                const newHealthWord = document.getElementById('healthWord');
                newHealthWord.addEventListener('click', () => {
                    const randomIndex = Math.floor(Math.random() * quotes.length);
                    const selectedQuote = quotes[randomIndex];
                    showQuote(selectedQuote);
                });
            }
        }, 50); 
    }
</script>
