<%- include('partials/header.ejs') %>

  <div class="flex-grow flex justify-center items-center bg-white dark:bg-gray-900">
    <form
      class="max-w-sm mx-auto flex flex-col justify-center items-center rounded-xl shadow-xl bg-gray-100 dark:bg-gray-800 p-5"
      method="post">
      <div class="w-full mb-4 text-center">
        <h1 class="text-3xl font-bold text-gray-900 dark:text-white">Log in</h1>
      </div>
      <div class="mb-5">
        <label for="email" class="block mb-1 text-sm font-medium text-gray-500 dark:text-white">Email address</label>
        <input name="email" type="text" id="email"
          class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required />
      </div>
      <div class="mb-2">
        <label for="password" class="block mb-1 text-sm font-medium text-gray-500 dark:text-white">Password</label>
        <input name="password" type="password" id="password"
          class="bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required />
      </div>

      <div class="w-full text-end mb-2">
        <a href="/recover" class="block mb-2 text-xs font-medium text-gray-800 dark:text-white underline">Forgot
          password?</a>
      </div>

      <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-4">Log
        in</button>

      <div class="w-full text-center mb-4">
        <div class="text-xs font-medium text-gray-500 dark:text-white">Don't have an account? <a href="/signup"
            class="underline text-gray-800 dark:text-white">Sign up</a></div>
      </div>

      <% if (error) { %>
        <div class="text-sm text-red-800 rounded-lg dark:text-red-400 w-full text-center" role="alert">
          <span class="font-semibold">Invalid</span> password or email.
        </div>
      <% } %>

    </form>
  </div>


  <%- include('partials/footer.ejs') %>