<%- include('partials/header.ejs') %>

  <div class="flex-grow flex justify-center items-center bg-white ">
    <form class="max-w-sm mx-auto flex flex-col justify-center items-center rounded-lg shadow-lg bg-gray-100  p-5"
      method="post">
      <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Your email</label>
        <input name="email" type="text" id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
          placeholder="example@gmail.com" required />
      </div>
      <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Your password</label>
        <input name="password" type="password" id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
          required />
      </div>
      <div class="flex items-start mb-3">
      </div>
      <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ">Submit</button>
      <div>
        <a href="/recover" class="mt-4 block mb-2 text-sm font-medium text-gray-900 "
          onclick="window.location.href='/recover'">forgot password?</a>
      </div>
      <% if (error) { %>
        <p class="text-red-500 text-sm mt-2">
          <%= "Invalid password." %>
        </p>
        <% } %>
    </form>
  </div>

  <%- include('partials/footer.ejs') %>