<%- include('partials/header.ejs') %>
<form action="post">
<label for="">Security Question: Your mothers maiden name</label>
<input type="text" name="securityQuestion" id="securityQuestion" value="Answer">
</form>
<%- include('partials/footer.ejs') %>