<%- include('partials/header.ejs') %>

    <div class="flex-grow flex justify-center items-center bg-white dark:bg-gray-900">
        <form
            class="max-w-sm mx-auto flex flex-col justify-center items-center rounded-lg shadow-lg bg-gray-100 dark:bg-gray-800 p-5"
            action="" method="post">

            <div class="w-full mb-4 text-center">
                <h1 class="text-3xl font-bold text-gray-900 dark:text-white">New password</h1>
            </div>

            <div class="relative mb-1">
                <input id="password" name="password" type="password" id="floating_outlined"
                    class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <label for="floating_outlined"
                    class="absolute text-xs text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-100 dark:bg-gray-800 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Password*</label>
            </div>

            <div class="mb-3 w-full">
                <p class="text-[10px] text-gray-500 dark:text-white text-ellipsis overflow-hidden">Must be at least 5 to
                    50
                    characters long.</p>
            </div>

            <div class="relative mb-1">
                <input id="repeat-password" name="repeat-password" type="password" id="floating_outlined"
                    class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <label for="floating_outlined"
                    class="absolute text-xs text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-100 dark:bg-gray-800 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Repeat
                    password*</label>
            </div>
            <div class="mb-3 w-full text-end">
                <p class="text-xs text-red-500" id="repeat-password-alert"></p>
            </div>
            <div class="flex justify-center">
                <button type="submit"
                    class="text-white bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:focus:ring-blue-800 mb-2opacity-75"
                    disabled>Save</button>
            </div>

            <% if (error) { %>
                <p class="text-red-500 text-sm mt-2">
                    <%= "Invalid password." %>
                </p>
                <% } %>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const passwordInput = document.getElementById('password');
            const repeatPasswordInput = document.getElementById('repeat-password');
            const repeatPasswordAlert = document.getElementById('repeat-password-alert');
            const submitButton = document.querySelector('button[type="submit"]');

            // Alerts user if passwords do not match
            const checkPasswordMatch = () => {
                if (repeatPasswordInput.value !== passwordInput.value) {
                    repeatPasswordAlert.textContent = 'Passwords do not match';
                    submitButton.classList.add('opacity-75'); // Reduce the opacity of the submit button
                    submitButton.disabled = true; // Disable the submit button
                } else {
                    repeatPasswordAlert.textContent = ''; // Clear the alert message if passwords match
                    submitButton.classList.remove('opacity-75'); // Revert the opacity of the submit button
                    submitButton.disabled = false; // Enable the submit button
                }
            };
            passwordInput.addEventListener('input', checkPasswordMatch);
            repeatPasswordInput.addEventListener('input', checkPasswordMatch);
        });
    </script>

    <%- include('partials/footer.ejs') %>