<%- include('partials/header.ejs') %>
<form action="post">
<label for=""> question </label>
<br>
<input type="text" name="securityQuestion" id="securityQuestion" value="Answer">
</form>
<%- include('partials/footer.ejs') %>