<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<%- include('partials/header.ejs') %>

    <div class="flex-grow flex justify-center items-center bg-white ">
        <form class="max-w-sm mx-4 rounded-lg shadow-lg bg-gray-100 p-5" action="/security_question" method="post">
            <label for="securityQuestion" class="block mb-4 text-sm font-medium text-gray-900 ">Security
                Question:</label>
            <select id="securityQuestion" name="securityQuestion"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
                <option value="What is your favorite childhood sport?">What is your favorite childhood sport?</option>
                <option value="Who is your favourite teacher?">Who is your favourite teacher?</option>
                <option value="What city are you born in?">What city are you born in?</option>
            </select>

            <div class="my-5">
                <label for="securityAnswer" class="block mb-2 text-sm font-medium text-gray-900 ">Answer</label>
                <input type="text" id="securityAnswer" name="securityAnswer"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    placeholder="Answer" required />
            </div>
            <div class="mx-10">
                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-10 py-2.5 text-center ">Submit</button>
            </div>
        </form>
    </div>

    <%- include('partials/footer.ejs') %>