<%- include('partials/header.ejs') %>
<section class="flex-grow flex justify-center items-center bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Terms & Conditions</h1>
      <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">This website is operated by Biolink Corp.

        These terms of use are entered into by and between you and Biolink Corp. (“Biolink,” “we,” or “us”). The following terms and conditions (“Terms”), together with our Privacy Policy, govern your access to and use of 
        https://Biolink.com/
        , including any content, functionality and services offered on or through 
        https://Biolink.com/
         (the “Website”), whether as a guest or a registered user (if applicable).
        
        Our Privacy Policy describes how we handle the information you provide to us when you use the Services. For an explanation of our privacy practices, please visit our Privacy Policy located at 
        https://biolink.com/privacy-policy/
        .
        
        For purposes of these Terms, “you” and “your” means you as the user of the Website. If you use the Website on behalf of an entity then “you” includes you and that entity, and you represent and warrant that (a) you are an authorized representative of the entity with the authority to bind the entity to these Terms, and (b) you agree to these Terms on the entity’s behalf. By using our Website, you represent that you are at least 18 years of age and have the legal authority to enter into these Terms of Use.
        
        Please read the Terms carefully before you start to use the Website. By using the Website or by clicking to accept or agree to the Terms when this option is made available to you, you accept and agree to be bound and abide by these Terms. If you do not want to agree to these Terms or the Privacy Policy, you must not access or use the Website.
        
        Please note that these Terms contain an arbitration clause and class action waiver. By agreeing to these Terms, you agree (a) to resolve all disputes with us through binding individual arbitration, which means that you waive any right to have those disputes decided by a judge or jury, and (b) that you waive your right to participate in class actions, class arbitrations, or representative actions. You have the right to opt-out of arbitration as explained below.
        
        CHANGES TO THE TERMS
        We may revise and update these Terms from time to time in our sole discretion. All changes are effective immediately when we post them and apply to all access to and use of the Website thereafter. However, any changes to the dispute resolution provisions set forth in Governing Law and Jurisdiction will not apply to any disputes for which the parties have actual notice on or prior to the date the change is posted on the Website.
        
        Your continued use of the Website following the posting of revised Terms means that you accept and agree to the changes. You are expected to check this page each time you access this Website so you are aware of any changes to the Terms as they are binding on you.
        
        ACCESSING THE WEBSITE
        We reserve the right to withdraw or amend this Website, and any service or material we provide on the Website, in our sole discretion without notice. From time to time, we may restrict access to the entire or some parts of the Website to users, including any registered users, if applicable. We are not responsible for any loss or harm related to your inability to access or use the Website. You are responsible for making all arrangements necessary for you to have access to the Website.
        
        To access the Website or some of the resources it offers, you may be asked to provide certain registration details or other information. It is a condition of your use of the Website that all the information you provide on the Website is correct, current and complete.
        
        If you choose, or are provided with, a user name, password, a link or a code, or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any other person or entity, except to your personal representative where applicable. You also acknowledge that any account you create (if applicable) or application you complete via the Website is personal to you.
        
        You agree not to provide any other person, except to your personal representative where applicable, with access to this Website or portions of it using your name, email address, or other personal or security information. You agree to notify us immediately of any such unauthorized access or any other breach of security. You should use particular caution when accessing the Website from a public or shared computer when you share your personal information on the Website, so that others are not able to view or record your personal and/or access information.
        
        We have the right to disable any access, user name, password or other identifier, whether chosen by you or provided by us, at any time in our sole discretion for any or no reason, including if, in our opinion, you have violated any provision of these Terms.
        
        INTELLECTUAL PROPERTY RIGHTS
        The Website and its entire contents, features and functionality (including but not limited to all information, software, text, displays, images, video and audio, and the design, selection and arrangement thereof), are owned by Biolink, its licensors or other providers of such material and are protected by United States and international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.
        
        These Terms permit you to use the Website for your personal, non-commercial use only. You must not reproduce, publish, distribute, modify, create derivative works of, publicly display, publicly perform, republish, download, store or transmit any of the material on our Website, except as follows:
        
        You may print or download one copy of a reasonable number of pages of the Website for your own personal, non-commercial use and not for further reproduction, publication or distribution.
        If we explicitly authorize content found on the Website to be downloaded by you, you may download such content to your computer or mobile device solely for your own personal and non-commercial use.
        If we provide social media features with certain content, you may take such actions as are enabled by such features.
        You must not:
        
        Modify copies of any materials from this Website.
        Use any illustrations, photographs, video or audio sequences or any graphics separately from the accompanying text.
        Delete or alter any copyright, trademark or other proprietary rights notices from copies of materials from this site.
        You must not access or use for any commercial purposes any part of the Website or any services or materials available through the Website.
        
        If you print, copy, modify, download or otherwise use or provide any other person with access to any part of the Website in breach of the Terms, your right to use the Website will cease immediately and you must, at our option, return or destroy any copies of the materials you have made. No right, title or interest in or to the Website or any content on the Website is transferred to you, and all rights not expressly granted are reserved by Biolink. Any use of the Website not expressly permitted by these Terms is a breach of these Terms and may violate copyright, trademark and other laws.
        
        TRADEMARKS
        The Biolink name, the Biolink logo and all related names, logos, product and service names, designs and slogans are trademarks of Biolink. You must not use such marks without the prior written permission of Biolink. All other names, logos, product and service names, designs and slogans on this Website may be trademarks of other owners and therefore their use may be restricted under applicable laws.
        
        PROHIBITED USES
        You may use the Website only for lawful purposes and in accordance with these Terms. You agree not to use the Website or any part thereof:
        
        In any way that violates any applicable federal, state, local or international law or regulation (including, without limitation, any laws regarding the export of data or software to and from the US or other countries).
        For the purpose of exploiting, harming or attempting to exploit or harm minors in any way by exposing them to inappropriate content, asking for personally identifiable information or otherwise.
        To transmit, or procure the sending of, any advertising or promotional material, including any “junk mail,” “chain letter,” “spam,” or any other similar solicitation.
        To impersonate or attempt to impersonate Biolink, a Biolink employee, another user of the Website or any other person or entity (including, without limitation, by using e-mail addresses associated with any of the foregoing).
        To engage in any other conduct that restricts or inhibits anyone’s use or enjoyment of the Website, or which, as determined by us, may harm Biolink or users of the Website, or expose them to liability.
        Additionally, you agree not to:
        
        Use the Website in any manner that could disable, overburden, damage, or impair the Website or interfere with any other party’s use of the Website, including their ability to engage in real time activities through the Website.
        Use any robot, spider or other automatic device, process or means to access the Website for any purpose, including monitoring or copying any of the material on the Website, except for the purpose of accessing the Website, in accordance with these Terms, with assistive technology if you are physically unable to access it otherwise because of a medical condition.
        Use any manual process to monitor or copy any of the material on the Website, or for any other purpose not expressly authorized in these Terms, without our prior written consent.
        Use any device, software or routine that interferes with the proper working of the Website.
        Introduce any viruses, trojan horses, worms, logic bombs or other material which is malicious or technologically harmful.
        Attempt to gain unauthorized access to, interfere with, damage or disrupt any parts of the Website, the server on which the Website is stored, or any server, computer or database connected to the Website.
        Attack the Website via a denial-of-service attack or a distributed denial-of-service attack.
        Otherwise attempt to interfere with the proper working of the Website.
        RELIANCE ON INFORMATION POSTED
        The information presented on or through the Website is made available solely for general information purposes unless otherwise specified.
        
        Unless otherwise specified, we do not warrant the accuracy, completeness or usefulness of this information, and any reliance you place on such information is strictly at your own risk. As far as legally permissible we disclaim all liability and responsibility arising from any reliance placed on such materials by you or any other visitor to the Website, or by anyone who may be informed of any of its contents.
        
        CHANGES TO THE WEBSITE
        We may update the content on this Website from time to time, but its content is not necessarily complete or up-to-date. Any of the material on the Website may be out of date at any given time, and we are under no obligation to update such material unless required by law.
        
        LINKING TO THE WEBSITE AND SOCIAL MEDIA FEATURES
        You may link to the Website, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part.
        
        This Website may provide certain social media features that enable you to:
        
        Link from your own or certain third-party websites to certain content on this Website.
        Cause limited portions of content on this Website to be displayed or appear to be displayed on your own or certain third-party websites.
        You may use these features solely as they are provided by us and solely with respect to the content they are displayed with. Subject to the foregoing, you must not:
        
        Establish a link from any website that is not owned by you.
        Cause the Website or portions of it to be displayed, or appear to be displayed by, for example, framing, deep linking or in-line linking, on any other site.
        Otherwise take any action with respect to the materials on this Website that is inconsistent with any other provision of these Terms.
        You agree to cooperate with us in causing any unauthorized framing or linking immediately to cease. We reserve the right to withdraw linking permission without notice.
        
        We may disable all or any social media features and any links at any time without notice in our sole discretion.
        
        LINKS FROM THE WEBSITE
        If the Website contains links to other sites and resources provided by third parties, these links are provided for your convenience only. We have no control over the contents of those sites or resources and accept no responsibility for them or for any loss or damage that may arise from your use of them. If you decide to access any of the third party websites linked to this Website, you do so entirely at your own risk and subject to the terms and conditions of use for such websites.
        
        GEOGRAPHIC RESTRICTIONS
        The owner of the Website is based in the United States. We provide this Website for use only by persons located in the United States. We make no claims that the Website or any of its content is accessible or appropriate outside of the United States. Access to the Website may not be legal by certain persons or in certain countries. If you access the Website from outside the United States, you do so on your own initiative and are responsible for compliance with local laws. Access to the Website from jurisdictions where the contents of the Website are illegal or penalized is prohibited.
        
        DISCLAIMER OF WARRANTIES
        YOUR USE OF THE WEBSITE, ITS CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE IS AT YOUR OWN RISK. YOU ACKNOWLEDGE AND AGREE THAT TO THE FULLEST EXTENT PERMITTED BY LAW, THE WEBSITE, ITS CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER BIOLINK NOR ANY PERSON ASSOCIATED WITH BIOLINK MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY OR AVAILABILITY OF THE WEBSITE. WITHOUT LIMITING THE FOREGOING, NEITHER BIOLINK NOR ANYONE ASSOCIATED WITH BIOLINK REPRESENTS OR WARRANTS THAT THE WEBSITE, ITS CONTENT OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE WILL BE ACCURATE, RELIABLE, ERROR-FREE OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT OUR SITE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR THAT THE WEBSITE OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS. BIOLINK HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR PARTICULAR PURPOSE.
        
        LIMITATION ON LIABILITY
        TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL BIOLINK, ITS AFFILIATES OR THEIR LICENSORS, SERVICE PROVIDERS, EMPLOYEES, AGENTS, OFFICERS OR DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR USE, OR INABILITY TO USE, THE WEBSITE, ANY WEBSITES LINKED TO IT, ANY CONTENT ON THE WEBSITE OR SUCH OTHER WEBSITES OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE OR SUCH OTHER WEBSITES, INCLUDING ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING, EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT OR OTHERWISE, EVEN IF FORESEEABLE.
        
        ARBITRATION AND CLASS ACTION WAIVER
        Informal Process First. You agree that in the event of any dispute between you and Biolink, you will first contact Biolink in writing at 
        termsofuse@Biolink.com
         and make a good faith sustained effort to resolve the dispute before resorting to more formal means of resolution, including without limitation, any arbitration or court action.
        
        Arbitration Agreement and Class Action Waiver. If your dispute remains unresolved thirty (30) days after you first contact Biolink, any remaining dispute, controversy, or claim (collectively, “Claim”) relating in any way to your use of the Website will be resolved by arbitration, including threshold questions of arbitrability of the Claim. You and Biolink agree that any Claim will be settled by final and binding arbitration, using the English language, administered by JAMS under its Comprehensive Arbitration Rules and Procedures (the “JAMS Rules”) then in effect (those rules are deemed to be incorporated by reference into this section, and as of the date of these Terms). The JAMS Rules and the JAMS Consumer Arbitration Minimum Standards, the latter effective July 15, 2009, are available at 
        https://jamsadr.com
        . Arbitration will be handled by a sole, neutral arbitrator in accordance with the JAMS Rules. Judgment on the arbitration award may be entered in any court that has jurisdiction. You have a right to have the arbitration conducted via telephone, or as an in-person hearing in your hometown area (if you live in the United States) or another location that is reasonably convenient to you. Any arbitration under these Terms will take place on an individual basis – class, consolidated or representative arbitrations and class, consolidated or representative actions are not permitted. You understand that by agreeing to these Terms, you and Biolink are each waiving the right to trial by jury or to participate in a class, consolidated or representative action or class, consolidated or representative arbitration. Court review of an arbitration award is limited. The arbitrator, however, can award on an individual basis the same damages and relief as a court (including injunctive and declaratory relief, or statutory damages). The place of arbitration will be San Francisco, California, but if you prefer a hearing in or closer to your hometown area, you and Biolink will confer in good faith in order to identify a reasonable alternative location. Each of the parties shall cooperate in good faith in the discovery or exchange of nonprivileged information relevant to the dispute as necessary in accordance with the JAMS Rules. The arbitrator’s award will consist of a written statement stating the disposition of each claim, and the award will also provide a concise written statement of the essential findings and conclusions on which the award is based. You and Biolink shall maintain the confidential nature of the arbitration proceeding and the award, including the hearing, except as may be necessary to prepare for or conduct the arbitration hearing on the merits, or except as may be necessary in connection with a court application for a preliminary remedy, a judicial challenge to an award or its enforcement or unless otherwise required by law or judicial decision.
        
        Costs of Arbitration. Payment for any and all reasonable JAMS filing, administrative and arbitrator fees will be in accordance with the JAMS Rules and the JAMS Consumer Arbitration Minimum Standards. If the value of your claim does not exceed $10,000, Biolink will pay for the reasonable filing, administrative and arbitrator fees associated with the arbitration, unless the arbitrator finds that either the substance of your claim or the relief sought was frivolous or brought for an improper purpose.
        
        Opt-Out. You have the right to opt-out and not be bound by the arbitration and waiver of class provisions set forth in these Terms by sending written notice of your decision to opt- out to 
        termsofuse@Biolink.com
        . The notice must be sent to Biolink within thirty (30) days of first accessing the Website or agreeing to these Terms (or if this section of the Terms is amended hereafter, within 30 days of such amendment being effective), otherwise you shall be bound to arbitrate disputes in accordance with these Terms, and the notice must specify your name and mailing address. If you opt-out of these arbitration provisions, Biolink also will not be bound by them.
        
        Exceptions. Notwithstanding anything in these Terms to the contrary, you and Biolink will have the right to bring an action in a court of proper jurisdiction for injunctive or other equitable or conservatory relief, or if the Claim relates to intellectual property infringement or misappropriation, pending a final decision by the arbitrator.
        
        WAIVER AND SEVERABILITY
        No waiver by Biolink of any term or condition set forth in these Terms shall be deemed a further or continuing waiver of such term or condition or a waiver of any other term or condition, and any failure of Biolink to assert a right or provision under these Terms shall not constitute a waiver of such right or provision.
        
        If any provision of these Terms is held by a court or other tribunal of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of the Terms will continue in full force and effect.
        
        ENTIRE AGREEMENT
        Unless otherwise specified, the Terms and our Privacy Policy constitute the sole and entire agreement between you and Biolink Corp. with respect to the Website and supersede all prior understandings, agreements, representations and warranties, both written and oral, with respect to the Website, including any prior versions of these Terms. </p>
      <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">

      </div>
  </div>
</section>
<%- include('partials/footer.ejs') %>